ul,li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#imgList{
    width: 700px;
    overflow: hidden;
    zoom: 1;
    border: 1px solid #333;
    margin: 0 auto;
    padding: 0 0 10px 10px;
}
#imgList li{
    float: left;
    width: 128px;
    height: 128px;
    border: 1px solid #ccc;
    margin: 10px 10px 0 0;
}
#imgList li img{
    float: left;
    opacity: 0.3;
    cursor: pointer;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
}


/*使用css实现移入/移出改变图片透明度*/
/*
#imgList li img:hover{
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}*/

#imgList li.current img{
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
